numpy==1.24.3
pandas==2.1.4
streamlit==1.36.0
langchain==0.2.6
langchain-community==0.2.6
openai==1.35.4
tiktoken==0.7.0
chromadb==0.3.29
pydantic==2.5.3
onnxruntime==1.15.1
sentence-transformers==2.2.2